**/node_modules
*.env
.venv/
**/__pycache__
**/.scraper_cache/
**/downloaded_files/
**.egg-info/
logs/
FLAT.xml
**/package-lock.json
.nx/
.superset/
ml/tensorboard/
ml/data/processed/*
!ml/data/processed/synthetic_benchmark/
!ml/data/processed/synthetic_benchmark/**
ml/data/processed/synthetic_benchmark/*.csv
ml/models/weights/*
!ml/models/weights/synthetic_benchmark/
!ml/models/weights/synthetic_benchmark/**
